body {
      background-color: #f2f2f2;
      font-family: "Lato", "Helvetica","sans serif";
}

#main.header a {
      text-decoration: none;
}

/*unvisited links in nav*/
.nav ul {
	padding: 3px;
	position: relative;
	text-align: center;
}

.nav a: link {
      text-decoration: none;
      color: #f2f2f2;
}

.nav a: hover {
      text-decoration: none;
      text-transform: upper;
      color: #198cf2;
      -webkit-transition: color 0.3s;
      -moz-transition: color 0.3s;
      -o-transition: color 0.3s;
}

.nav a:visited {
	color: #f2f2f2;
}
