body {
      background-color: #f2f2f2;
      font-family: "Lato", "Helvetica","sans serif";
}

#header a {
      text-decoration: none;
      text-transform: uppercase;
}


#nav {
	text-decoration: none;
	width: 100%;
	height: 20px;
	position: fixed;
	top: 0px;
	background-color: #1a94ff;
	color: #ffffff;
}
#nav ul {
	padding: 3px;
	position: relative;
	text-transform: uppercase;
}

#nav a: link {
      color: #fff;
}

#nav a: hover {
      color: #198cf2;
      -webkit-transition: color 0.3s;
      -moz-transition: color 0.3s;
      -o-transition: color 0.3s;
}

#nav a:visited {
	color: #f2f2f2;
}
